.NavButton {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    text-align: center;
    color: #343a40;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 35px;
    padding-right: 35px;
    background: #343a40;
    border-radius: 25px;
    color: #ffffff;
    border: none;
}
