.NavButton {
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 35px;
	padding-right: 35px;
	border-radius: 25px;
	border: none;
	transition: 0.3s;
	outline: none;
}

.ActiveNavButton {
	color: #ffffff;
	background: #343a40;
}

.InactiveNavButton {
	color: #343a40;
	background: #ffffff;
	border: 1px solid #343a40;
}

.InactiveNavButton:hover {
	color: #ffffff;
	background: #343a40;
}
